.html,
.body,
#root {
    display: flex;
    height: 100vh;
    font-size: 12px;
    line-height: 20px;
}

td a {
    color: #4791d1;
    text-decoration: none;
}

td a:hover {
    text-decoration: underline;
}

.main-board-div {
    position: fixed;
    right: 0;
    left: 150px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.nav-tabs .nav-link {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background: #fff;
    border-bottom-color: rgba(0, 0, 0, .125);
}

.nav-tabs .nav-link.active {
    background: rgb(247 247 247);
    border-color: #dee2e6 #dee2e6 rgb(247 247 247);
}

.warehouse-tabs {
    border: 1px solid rgba(0, 0, 0, .125);
    border-top: 0;
}

.tab-pane.active .table-wrap {
    min-width: 730px;
}

.nav-link {
    height: 50px;
}

.navbar-text {
    color: white;
    font-size: 13px;
    margin-left: 5px;
    vertical-align: middle;
}

.nav-link.nav-bar.active {
    background: linear-gradient(265deg, #707070, #ff000000);
}

.navbar-svg-img {
    width: 17px;
}

.navbar-bs {
    position: fixed;
    left: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: #333;
    width: 150px;
}

.brand {
    padding-top: 15px;
    padding-left: 37px;
    padding-bottom: 30px;
}

.brand-svg-img {
    width: 70px;
}

.table-wrap {
    justify-content: flex-end;
    margin: 0;
    max-width: 100vw;
    padding: 0 0;
    min-width: 1014px;
}

.table-wrap.card-body {
    margin-top: 15px;
}

.pagination {
    justify-content: flex-end;
    margin-bottom: 0;
}

th.table-header-column {
    background: aquamarine;
    border-width: 0 1px;
    border-color: #fff;
    cursor: pointer;
}

.table > :not(:first-child) {
    border-top: 2px solid gray;
}

.supplier-svg {
    width: 25px;
    margin-left: 10px;
}

.table-footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: end;
    max-width: 100vw;
}

#number-of-rows-select {
    width: fit-content;
    height: fit-content;
    margin: 0 10px;

}

#number-of-rows-label {
    padding-bottom: 4px;
}

#number-of-rows-div {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
}

.icon-block {
    width: 20px;
    display: inline-block;
}

.tab-card {
    height: 100%;
}

.tab-pane .table-card {
    height: 100%;
}

.tab-pane .table-wrap {
    height: 100%;
}

.tab-content .table-card-body {
    height: 100%;
}

.tab-content .tab-pane {
    height: 100%;
}

.table-wrap.card-body .tab-content {
    position: absolute;
    bottom: 0;
    top: 50px;
    right: 0;
    left: 0;
}

.tab-card .table-wrap {
    position: relative;
}

.sort-icon {
    display: inline-block;
    cursor: pointer;
}

.sort-icon-label {
    margin-left: 10px;
    cursor: pointer;
}

.sort-image {
    height: 15px;
}

.search-input,
.search-button {
    height: fit-content;
}

.table-card-header {
    display: flex;
    padding-top: 20px;
}

.select-div {
    display: flex;
}

.select {
    width: 570px;
}

.select-button {
    margin-left: 10px;
    color: white;
}

.payment-radio {
    width: 15px;
    height: 15px;
}

.radio-red-label {
    margin-left: 30px;
}

.input-text.input-cash {
    width: 100px;
}

.table-card-body {
    min-height: 400px;
}

.table-card {
    height: 100vh;
    border-radius: 0;
    border-top: 0;
}

.search-container {
    display: flex;
    justify-content: flex-end;
}

.search-matches-label {
    padding-top: 5px;
}

.search-form {
    margin-left: 10px;
}

#show-total-rows {
    margin: 0 auto 0 0;
}

.current-page-pagination-item {
    width: 50px;
    text-align: center;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.add-button,
.minus-button {
    width: 115px;
    height: 35px;
    color: #fff;
    font: 500 13px Open Sans, ruble, sans-serif;
    white-space: pre;
    margin-left: 20px;

    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    width: fit-content;
}

.add-button:hover {
    background: #65C365;
}

.add-button {
    background: #5cb85c;
    border: 1px solid #5cb85c;
}

.minus-button {
    background: rgba(213, 57, 53, 0.71);
    border: 1px solid rgba(213, 57, 53, 0.71);
}

.minus-button:hover {
    background: rgba(213, 57, 53, 0.85);
}

.plus-minus-buttons-div {
    display: flex;
}

.amount-cash-container {
    height: 15px;
    display: flex;
    align-content: flex-end;
    justify-content: flex-end;
    align-items: center;
}

.amount-cash-container h3 {
    margin-bottom: 0;
}

.amount-cash-card {
    min-width: fit-content;
    margin-left: 25px;
}

.two-line-div {
    display: flex;
    flex-direction: column;
}

.plus-svg {
    width: 12px;
    padding-bottom: 4px;
    margin-right: 7px;
}

.back-pagination-button {
    margin-left: 15px;
}

hr {
    padding-bottom: 1px;
    background-color: #9b9b9b;
    border-bottom: 1px solid #F4F4F4;
}

hr:not([size]) {
    height: 10px;
}

.payment-container {
    height: 85vh;
    margin: 30px 0;
}

.payment-footer {
    margin-top: auto;
}

.payment-amount-input {
    font-size: 24px;
    font-weight: 600;
}

.download-csv-button {
    margin-top: 15px;
}

.account-select-row {
    display: flex;
    align-content: center;
}

.account-select-row h5,
.account-select-row h4 {
    margin-bottom: 0;
}

.balance-div {
    margin-left: auto;
    display: flex;
}

.payment-form-group {
    margin: 15px;
}

.payment-card {
    height: 100%;
}

.form-group-label {
    font-weight: 700;
}

.checkbox-label {
    display: flex;
    align-content: center;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    width: fit-content;
}

.input-text {
    line-height: 15px;
    font-size: 12px;
}

.form-group-tag {
    color: #337ab7;
    margin-top: 15px;
}

.red-star {
    color: red;
    font-size: 15px;
}

.checkbox {
    width: 15px;
    height: 15px;
    margin-top: 0;
}

.supplier-checkbox-svg {
    width: 21px;
    margin: 5px;
}


.add-container,
.delete-container {
    height: 100%;
    padding: 0;
}

.delete-card-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-form-group {
    margin-top: 15px;
}

.add-form {
    display: flex;
    flex-direction: column;
}

.add-form-button,
.cancel-form-button {
    height: 35px;
    width: 105px;
    font-family: Open Sans, ruble, sans-serif;
    font-size: 13px;
    line-height: 20px;
}

.invalid-message {
    color: rgba(255, 40, 0, 0.69);
}

.add-form-button {
    margin-right: auto;
}

.cancel-form-button {

}

.add-card-footer {
    padding-bottom: 20px;
}

.add-cancel-buttons-div {
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
}

.add-card-body,
.add-card,
.add-form {
    height: 100%;
}

.add-card {
    border-radius: 0;
    font-family: Open Sans, ruble, sans-serif;
    font-size: 12px;
    line-height: 20px;
}

.add-modal-dialog {
    position: fixed;
    right: -600px;
    top: 0;
    bottom: 0;
    margin-top: 0;
    margin-left: 0;
    height: 100vh;
    width: 650px;
    max-width: none;
    max-height: none;
}

.add-modal-content {
    height: 100%;
    border: none;
    border-radius: 0;
}

.add-modal-body {
    padding: 0;
}

.delete-icon,
.delete-icon,
.edit-icon {
    width: 25px;
    padding: 0;
    margin-right: 15px;
    cursor: pointer;
}

.delete-icon:hover,
.edit-icon:hover {
    box-shadow: -10px 10px 3px -5px yellowgreen;
    /*box-shadow: 0px 20px 30px 0px #54E5C6;*/
}

.active-link {
    box-shadow: 0px 10px 5px -5px gray;
}


.last-row-column {
    position: relative;
}

.delete-edit-div {
    text-align: right;
    position: absolute;
    right: 0px;
    top: 6px;
}

.show-message {
    position: fixed;
    z-index: 9999;
    left: 50%;
    transition: all 1s;
    width: 350px;
    margin-left: -175px;
    margin-top: 10px;
    text-align: center;
    border: solid yellowgreen;
}

.add-edit-window {
    position: fixed;
    margin: 0;
    top: 0;
    bottom: 0;
    right: -600px;
    transition: transform .2s ease 0s, opacity .2s ease 0s;
    opacity: 1;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0.25rem;
}

.delete-window {
    height: 200px;
    width: 450px;
    padding: 0;
    margin: 0;
}

.scroll {
    min-height: 250px;
    max-height: 100px;
    overflow-y: auto;
}

.modal.fade .modal-dialog {
    transition: transform .3s ease-out;
    transform: translateX(600px);
}

.modal.fade.show .modal-dialog {
    transform: translateX(-600px);
}

.hystmodal--active .hystmodal__window.add-edit-window {
    transform: translateX(-600px);
}

.page-link,
#number-of-rows-select,
#number-of-rows-label,
.sort-icon {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
    outline: 0 !important;
    outline-color: transparent !important;
    outline-width: 0 !important;
    outline-style: none !important;
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
}